@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;;
}
.container .section1{
    background-image: url(images/image1.png);
    background-position: relative;
    height: 100vh;
    width: 100%;
}


.section1 h1{
    padding-top: 70px;
    margin-left: 350px;
    color: white;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.4rem;
}

.section1 h1 span{
    font-size: 40px;
}

.section2{
    background-color: #161619;
    color: white;
    margin-bottom: 50px;
}
.section2 p{
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 0.3;
    padding: 50px 250px;
}
.section2 p span{
    font-size: 2em;
}
.section3{
    margin: 30px auto;
    justify-content: center;
    display: flex;
    transition: 0.3s ease-in-out;
}

.section3 .box:hover{
    transform: scale(1.04);
    box-shadow: 2px 4px 10px rgb(178, 177, 177);
    cursor: pointer;
}

.box {
    border: transparent 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 10px #ccc;
    width: 320px;
    justify-content: space-around;
    margin-right: 40px;
    overflow: auto;
    transition: 0.3s ease-in-out;
}
.img{
    width: 100%;
}
.box h3{
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    padding: 15px 20px;
}

.box p{
    font-size: 12px;
    text-align: justify;
    padding: 0 20px;
    padding-bottom: 50px;
}
.section4{
    display: flex;
    /* padding-left: 250px; */
    margin-top: 50px;
}
.section4 .footer{
    width: 50%;
    height: 22em;
    color: white;
}

.section4 .div1{
    background-color: #515603;
    padding: 30px 100px 0 230px;
}
.section4 .div2{
    background-color: #722300;
    padding: 30px 200px 0 100px;
}

.section4 .footer h1{
    font-size: 64px;
    font-weight: 100;
}
.section4 .footer p{
    font-size: 14px;
    line-height: 23px;
    margin: 20px 0;
}
.section4 .footer #email{
    font-size: 16px;
}

footer{
    font-size: 24px;
    background-color: #000000;
    color: white;
    padding: 30px 0;
    text-align: center;
}